aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
async-timeout==3.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
BareNecessities==0.2.8
beautifulsoup4==4.9.3
bidict==0.21.4
blinker==1.4
cachelib==0.6.0
cachetools==4.2.2
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
cssselect==1.1.0
cssutils==2.2.0
cycler==0.11.0
decorator==5.1.1
distlib==0.3.4
elasticsearch==7.15.0
emails==0.6
fake-useragent==0.1.11
filelock==3.4.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
fonttools==4.28.5
future==0.18.2
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
google==3.0.0
google-api-core==2.2.2
google-api-python-client==2.29.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.53.0
googletransx==2.4.2
greenlet==1.1.0
gunicorn==20.1.0
httplib2==0.20.2
idna==2.10
imageio==2.13.5
importlib-metadata==4.0.1
instagram-private-api==1.6.0.0
ipinfo.io==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.1.0
Js2Py==0.71
kiwisolver==1.3.2
lxml==4.6.3
Mail==2.1.0
MarkupSafe==1.1.1
matplotlib==3.5.1
MouseInfo==0.1.3
multidict==5.2.0
mutagen==1.45.1
nltk==3.7
numpy==1.21.2
oauthlib==3.1.1
packaging==21.3
pandas==1.3.3
passlib==1.7.4
phonenumbers==8.12.28
Pillow==8.3.2
pipenv==2021.11.23
platformdirs==2.4.1
premailer==3.8.0
prettytable==0.7.2
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycares==4.0.0
pycparser==2.20
pyenchant==3.2.0
pygame==2.1.0
PyGetWindow==0.0.9
pygorithm==1.0.4
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==3.0.4
PyPDF2==1.26.0
pyperclip==1.8.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.19.1
python-engineio==4.3.0
python-socketio==5.4.1
python-socks==1.2.4
pyttsx3==2.90
pytube==11.0.2
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.2
pywin32==301
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
ratelim==0.1.6
regex==2022.3.2
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
schedule==1.1.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.22
stagger==1.0.0
tqdm==4.62.2
twint==2.1.20
txt==2020.11.12
typing-extensions==3.10.0.0
tzdata==2022.1
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.4
virtualenv==20.12.1
virtualenv-clone==0.5.7
Werkzeug==1.0.1
wikipedia==1.4.0
windows-curses==2.2.0
yarl==1.6.3
zipp==3.4.1
